<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <h2>Welcome!</h2>


    {% if user %}

            <p>Hello {{ name }}</p>

            <p>This is your email: {{ email }}</p>
        <form action="/logout" method="get">
            <button type="submit">Logout</button>
        </form>
    {% else %}
    <form action="/login" method="post">
        <input type="text" name="user_name" placeholder="Enter username">
        <br>
        <input type="email" name="user_email" placeholder="Enter email...">
        <br>
        <input type="password" name="user_password" placeholder="Enter your password...">
        <br>
        <button type="submit">Submit</button>
    </form>
    {% endif %}

</body>
</html>